*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: white;
}
/* main section */
.container{
    background-color: aliceblue;
    height: auto;
    min-height: 10rem;
    width: 30%;
    border: 2px solid grey;
    border-radius: 4rem;
    margin: auto;
    margin-top: 6rem;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
/* headings */
h2{
    text-align: center;
    margin: 0.5rem;
}
h3{
    font-size: 1.5rem;
    text-align: center;  
}

#current-time{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;

}
.user-input{
    display: flex;
    flex-direction: row;
   justify-content: center;
   margin: 1rem;
}
input{
    height: 2rem;
    border-radius: 1rem;
    margin: 2px;
    padding: 2px;
    text-align: center;
}
input::placeholder{
   padding-left: 1rem;
}
select{
    font-size: 1.2rem;
    border: none;
    padding: 2px;
}
/* button */
button{
    height: auto;
    padding: 2px;
    width: auto;
    min-width: 5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    background-color: aliceblue;
    color: rgb(143, 128, 215);
    font-size: 1rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
    
}

button:hover{
    background-color: slateblue;
    color: aliceblue;
    font-size: 1.3rem;
}
#delete-button{
    height: 2rem;
    font-size: 1.2rem;
    padding: 2px;
    
}
#delete-button:hover{
    background-color: red;
    box-shadow: none;
}

ul{
    padding-bottom: 2rem;
}
.set-alarms-list{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin: auto;
    text-align: center;
    justify-content: center;
}

li{
    list-style: none;
    font-size: 1.2rem;
}
.time{
    font-size: 2rem;
    font-weight: 800;
}

/* for responsive design */
@media(max-width:480px){
    body{
        background-color: aliceblue;
    }
    .container{
        margin-top: 4rem;
        width: 100%;
        border: none;  
        box-shadow: none;
    }
    .user-input{
        display: flex;
        flex-direction: row;
       justify-content: center;
       margin: 1rem;
    }
    
input::placeholder{
    padding-left: 0.5rem;
 }
    h3, h2{
        font-size: 2rem;
    }
}


