*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(165, 165, 155);
}
/* main section */
.container{
    background-color: aliceblue;
    height: auto;
    min-height: 10rem;
    width: 30%;
    border: 2px solid black;
    border-radius: 4rem;
    margin: auto;
    margin-top: 6rem;
}
/* headings */
h2{
    text-align: center;
    margin: 0.5rem;
}
h3{
    font-size: 1.5rem;
    text-align: center;  
}

#current-time{
    font-size: 3rem;
    font-weight: bold;
    color: black;
    text-align: center;

}
.user-input{
    display: flex;
    flex-direction: row;
   justify-content: center;
   margin: 1rem;
}
input{
    height: 2rem;
    border-radius: 1rem;
    margin: 2px;
    padding: 3px;
}
select{
    font-size: 1.2rem;
    border: none;
    padding: 2px;
}
/* button */
button{
    height: auto;
    padding: 2px;
    width: auto;
    min-width: 5rem;
    border-radius: 1rem;
    margin-left: 1rem;
    background-color: blueviolet;
    color: aliceblue;
    font-size: 1rem;
}
button:hover{
    box-shadow: 5px 5px 10px 5px rgb(60, 59, 59);
}
#delete-button:hover{
    background-color: red;
}

ul{
    padding-bottom: 2rem;
}
.set-alarms-list{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin: auto;
    text-align: center;
    justify-content: center;
}

li{
    list-style: none;
    font-size: 1.2rem;
}
.time{
    font-size: 2rem;
    font-weight: 800;
}

/* for responsive design */
@media(max-width:480px){
    body{
        background-color: aliceblue;
    }
    .container{
        margin-top: 4rem;
        width: 100%;
        border: none;  
    }
    .user-input{
        display: flex;
        flex-direction: row;
       justify-content: center;
       margin: 1rem;
    }
    h3, h2{
        font-size: 2rem;
    }
}


